/*CSS reset settings here*/
*{
    margin: 3px;
    padding: 0px;
    /* outline: 1px dotted red; */
}
#wrapper{
    width:970px;
}
#wrapper div{
    width: 49%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    vertical-align: top;
}
form{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
input{
    display: inline-block;
}
#descriplabel{
    display: block;
}
button{
    width: 400px;
    height: 250px;
    font-size: 20pt;
}